:root[data-color-mode="light"] {
    --background-color: #fcfaf8;
    --text-color: black;
    --nav-color: rgba(255, 255, 255, 0.5);
    --fg-color: black;
    --yellow-bold: #facc15;
    --neon-color: #004d00;
    --wrapper-width: 390px;
    --wrapper-height: 844px;
}

:root[data-color-mode="dark"] {
    --background-color: black;
    --text-color: #fcfaf8;
    --nav-color: rgba(42, 42, 42, 0.5);
    --fg-color: #fcfaf8;
    --yellow-bold: #facc15;
    --neon-color: #8cff00;
    --wrapper-width: 390px;
    --wrapper-height: 844px;
}

:root[data-color-mode="light"] .hidden_in_light_mode {
    display: none;
}
:root[data-color-mode="dark"] .hidden_in_dark_mode {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: "Geist", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--text-color);
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/Background.svg") center center/cover no-repeat;
    z-index: -1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem 1rem;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
}

.nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
}

.logo:hover {
    color: var(--yellow-bold);
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.nav-content button {
    width: auto;
}

.color_mode_button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    border: none;
    cursor: pointer;
}

.color_mode_button svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--fg-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}

.color_mode_button:hover svg {
    fill: var(--yellow-bold);
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    animation: fadeInOut 3s linear forwards;
}

.progress-container {
    position: relative;
    width: 5px;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    animation: fadeInOut 2.5s linear forwards;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    animation: fillBar 2s linear forwards;
}

@keyframes fillBar {
    0% {
        height: 1px;
    }
    100% {
        height: 100%;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

main {
    z-index: 1;
    background: url("images/Background.svg") center center/cover fixed, var(--background-color);
    position: relative;
    border-radius: 0 0 80px 80px;
    padding-bottom: 50px;
    min-block-size: 100vh;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: var(--text-color);
    background: url("images/BellFlower.svg") top right/70% fixed no-repeat;
    position: relative;
    padding-top: 60px;
}

.hero-content {
    padding: calc(var(--wrapper-width) * 0.07143);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
}

.hero-greeting {
    font-size: 16px;
    margin: 0;
    display: inline-block;
}

.type {
    color: transparent;
    background: linear-gradient(-90deg, var(--text-color) 5px, transparent 0) 10px 0, linear-gradient(var(--text-color) 0 0) 0 0;
    background-size: 0 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeIn 0.3s forwards, typing var(--duration) steps(var(--n)) forwards;
}

.line1 {
    --duration: 2.3s;
    animation-delay: 2s;
}
.line2 {
    --duration: 2.5s;
    animation-delay: 4s;
}
.line3 {
    --duration: 2.5s;
    animation-delay: 6.2s;
}

@keyframes typing {
    from {
        background-size: 0 200%;
    }
    to {
        background-size: calc(var(--n) * 1ch) 200%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.name-tagline {
    position: absolute;
    bottom: 0px;
    left: 20px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

h1 {
    font-size: 300px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
}

.tagline {
    position: relative;
    bottom: 85px;
    left: -50px;
    font-size: 35px;
    font-weight: 500;
    margin: 0;
    animation: slide-in-bottom 1.5s both;
    animation-delay: 3s;
}

.name {
    animation: slide-in-bottom 1s both;
    animation-delay: 3s;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Skills Section */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 110vh;
    padding: calc(var(--wrapper-width) * 0.07143);
    gap: 20px;
}

h2 {
    margin: 0;
}

.skills-header h2 {
    font-size: 10vw;
    font-weight: bold;
    color: var(--text-color);
}

.tools,
.trade {
    z-index: 1;
    position: relative;
    transition: 0.3s ease;
}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.tools {
    animation: right 1s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}

.trade {
    text-align: right;
    animation: left 1s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}

.vibrate-1 {
    -webkit-animation: vibrate-1 1.5s infinite;
    animation: vibrate-1 1.5s infinite;
}

.skill:nth-child(1) .vibrate-1 {
    animation-duration: 1.5s;
    animation-delay: 0s;
}

.skill:nth-child(2) .vibrate-1 {
    animation-duration: 1.6s;
    animation-delay: 0.2s;
}

.skill:nth-child(3) .vibrate-1 {
    animation-duration: 1.4s;
    animation-delay: 0.1s;
}

.skill:nth-child(4) .vibrate-1 {
    animation-duration: 1.7s;
    animation-delay: 0.3s;
}

.skill:nth-child(5) .vibrate-1 {
    animation-duration: 1.3s;
    animation-delay: 0.4s;
}

/* Vibrate Animation */
@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px) rotate(-1deg);
    }
    40% {
        transform: translate(-2px, -2px) rotate(1deg);
    }
    60% {
        transform: translate(2px, 2px) rotate(-1deg);
    }
    80% {
        transform: translate(2px, -2px) rotate(1deg);
    }
    100% {
        transform: translate(0);
    }
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    gap: 1vw;
}

.skill {
    text-align: center;
    color: var(--text-color);
    transition: 0.3s;
}

.skill .icon {
    width: 150px;
    height: 150px;
    stroke: var(--text-color);
    transition: fill 0.3s ease;
}

.skill-text {
    font-size: 20px;
    margin-top: 0;
    opacity: 0;
    transform: translateZ(-700px);
    letter-spacing: -0.5em;
    transition: opacity 2s ease-out 0.8s, transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skill:hover .skill-text {
    opacity: 1;
    transform: translateZ(0);
    letter-spacing: normal;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.skill:hover .icon {
    filter: drop-shadow(0 0 10px var(--neon-color)) drop-shadow(0 0 20px var(--neon-color));
    stroke: var(--neon-color);
}

@keyframes neonPulse {
    0%,
    100% {
        filter: drop-shadow(0 0 10px var(--neon-color)) drop-shadow(0 0 20px var(--neon-color));
    }
    50% {
        filter: drop-shadow(0 0 15px var(--neon-color)) drop-shadow(0 0 30px var(--neon-color));
    }
}

.skill:hover .icon {
    animation: neonPulse 3s infinite alternate;
}

.skills-footer p {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

/* Projects Section */
.projects {
    align-content: center;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 110vh;
    padding: calc(var(--wrapper-width) * 0.07143);
    overflow-x: auto;
    gap: calc(var(--wrapper-width) * 0.07143);
}

.projects-header {
    padding-right: 50px;
    color: var(--text-color);
}

.projects-title {
    font-size: 10vw;
    line-height: 107.3%;
    font-weight: bold;
    margin: 0;
}

.projects-description {
    font-size: 25px;
    margin: 0;
}

.scroll-container {
    display: flex;
    gap: calc(var(--wrapper-width) * 0.07143);
    scroll-snap-type: x mandatory;
}

.scroll-container img {
    width: 400px;
    height: 100%;
    transition: filter 0.3s ease-in-out;
    object-fit: cover;
}

.scroll-container img:hover {
    filter: brightness(50%);
}

.image-wrapper:hover {
    transform: scale(1.05);
}

.image-wrapper .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 15px;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    pointer-events: none;
}

.project2-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    min-height: 110vh;
    padding-block: 10vh;
    padding-inline: calc(var(--wrapper-width) * 0.07143);
    gap: 100px;
}

.project2-title {
    color: var(--text-color);
    font-size: 7vw;
    line-height: 107.3%;
    font-weight: bold;
    margin: 0;
}

.card {
    width: auto;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: 0.3s ease;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card img:hover {
    filter: brightness(50%);
}

.card:hover {
    transform: scale(1.05);
}

.card .card-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 15px;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

.image-wrapper:hover .image-text,
.card:hover .card-info {
    opacity: 1;
}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card:nth-child(odd) {
    align-self: flex-start;
    animation: right 1s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card:nth-child(even) {
    align-self: flex-end;
    animation: left 1s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* Contact Section */
.contact {
    color: var(--background-color);
    height: 100%;
    min-height: 90vh;
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 0;
    align-items: center;
    padding: calc(var(--wrapper-width) * 0.07143);
    gap: calc(var(--wrapper-width) * 0.07143);
}

.contact-header {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    padding-right: 50px;
}

.contact-title {
    font-size: 10vw;
    line-height: 107.3%;
}

.socials {
    font-size: 25px;
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    width: 70px;
    height: 70px;
    transition: transform 0.2s ease-in-out;
}

.social-icons .facebook,
.social-icons .linkedin {
    fill: var(--background-color);
}

.social-icons .instagram {
    stroke: var(--background-color);
}

.social-icons .facebook:hover,
.social-icons .linkedin:hover,
.social-icons .instagram:hover {
    transform: scale(1.1);
}

form {
    max-width: 500px;
    width: 953px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form p {
    line-height: 107.3%;
    margin: 0;
}

input,
textarea {
    color: var(--background-color);
    padding: 10px;
    border: 1px solid var(--background-color);
    background-color: transparent;
    border-radius: 5px;
}

button {
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    width: 100px;
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.contact button:hover {
    background: gray;
}


.footer {
    text-align: center;
    padding: 10px 0 10px;
}

.footer-line {
    width: 90%;
    margin: 0 auto 15px;
    border: none;
    height: 1px;
    background-color: var(--background-color);
}

.footer p {
    color: var(--background-color);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

/* Tablet (≤1024px) */
@media (max-width: 1024px) {
    .hero-content {
        width: 100%;
    }

    .hero-greeting {
        font-size: 2vw;
    }

    .name {
        font-size: 30vw;
    }

    .tagline {
        font-size: 4vw;
        left: 20px;
        bottom: 10vw;
    }

    .name-tagline {
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }
}

/* Small Tablets & Large Phones (≤768px) */
@media (max-width: 768px) {
    .project-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: auto;
        gap: 40px;
        overflow-x: unset;
    }

    .project2-wrapper {
        gap: 40px;
        padding: calc(var(--wrapper-width) * 0.07143);
    }

    @keyframes left {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes right {
        from {
            opacity: 0;
            transform: translateX(200px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .image-wrapper:nth-child(odd) {
        align-self: flex-start;
        animation: right 1s ease forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }

    .image-wrapper:nth-child(even) {
        align-self: flex-end;
        animation: left 1s ease forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }

    .scroll-container {
        display: flex;
        flex-direction: column;
    }

    .image-wrapper img,
    .card img {
        width: 100%;
        height: auto;
    }

    .card .card-info {
        font-size: 1rem;
        width: 100%;
        padding: 10px 20px;
    }

    .skill .icon {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .hero-greeting {
        font-size: 3vw;
    }

    .skills h2 {
        font-size: 20vw;
    }

    .projects-title,
    .contact-title {
        font-size: 15vw;
    }

    .projects-description {
        font-size: 20px;
    }

    .scroll-container {
        display: flex;
        flex-direction: column;
    }

    .scroll-container img {
        width: 100%;
        height: auto;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-header {
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 10px;
    }

    form {
        width: 100%;
    }
}
